/*Content*/
.base-container {
    display: flex;
}

.panel {
    width: 10%;
    padding: 20px 0px;
    background: var(--color1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panel-items-container {
    width: 100%;
    font-size: 15px;
}

.panel-items-container a {
    padding-left: 20px;
    cursor: pointer;
    user-select: none;
}

.panel-content {
    overflow: hidden;
    display: none;
    transition: 0.2s;
}

.panel-items-container ul li {
    padding-left: 40px;
    margin: 5px 0px;
}

.panel-items-clas {
    padding-left: 20px;
}

.panel-items-clas img {
    width: 20px;
}

.content {
    width: 100%;;
}

.title-content {
    width: auto;
    padding: 10px;
    font-size: 20px;
    background: #006e83;
}

.movies-container {
    padding: 20px 50px;
    display: flex;
    justify-content: space-around;
}

.movie-item {
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.movie-item img {
    max-width: 180px;
    max-height: 200px;
}

.movie-item-text {
    padding: 10px;
    text-align: center;
    font-size: 12px;
    background: #292929;
    border-radius: 0px 0px 10px 10px;
}

.movies-move-icon {
    display: flex;
    align-items: center;
    width: 50px;
}

.movies-move-icon img {
    width: 20px;
    cursor: pointer;
    transition: 0.4s;
}

.movies-move-icon img:hover {
    width: 50px;
}

/*Footer*/
footer {
    width: 100%;
    height: 40px;
    background: #1c1c1c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text {
    color: #838383;
}
