<div class="panel">
        
    <div class="panel-items-container">
        <div class="panel-button">Categorias</div>
        <div class="panel-content" style="display: none;">
            <ul>
                <li><a>Películas actuales</a></li>
                <li><a>Películas antiguas</a></li>
                <li><a>Estrenos</a></li>
                <li><a>Clásicos</a></li>
                <li><a>Accion</a></li>
                <li><a>Superhéroes</a></li>
                <li><a>Aventuras</a></li>
                <li><a>Comedias</a></li>
                <li><a>Drama</a></li>
                <li><a>Terror</a></li>
                <li><a>Suspenso</a></li>
                <li><a>Musicales</a></li>
                <li><a>Ciencia Ficción</a></li>
                <li><a>Guerra</a></li>
                <li><a>Crimen</a></li>
                <li><a>Infantiles</a></li>
                <li><a>Adultos</a></li>
            </ul>
        </div>
    </div>


    <div class="panel-items-container">
        <div class="panel-button">Edad</div>
        <div class="panel-content" style="display: none;">
            <ul>
                <li><a>6 años</a></li>
                <li><a>12 años</a></li>
                <li><a>16 años</a></li>
                <li><a>18 años</a></li>
                <li><a>21 años</a></li>
            </ul>
        </div>
    </div>


    <div class="panel-items-container">
        <div class="panel-button">Clasificacion</div>
        <div class="panel-content" style="display: none;">
            <ul>
                <% for(let i = 0; i < 5; i++){ %>
                    <div class="panel-items-clas">
                        <a href="#">
                            <% for(let j = i; j < 5; j++) { %>
                                <img src="media/icons/Recurso%201.png">
                            <% } %>
                        </a>
                    </div>
                <% } %>
            </ul>
        </div>
    </div>


    <div class="panel-items-container">
        <div class="panel-button">Año</div>
        <div class="panel-content" style="display: none;">
            <ul>
                <li><a>2010-Actualidad</a></li>
                <li><a>2000-2010</a></li>
                <li><a>1990-2000</a></li>
            </ul>
        </div>
    </div>
</div>