<div class="panel">
        
    <div class="panel-items-container">
        <div class="panel-button">Categorias</div>
        <div class="panel-content" style="display: none;">
            <ul>
                <% genres.forEach(genre => {%>
                    <li><a href="/filter/<%= genre.id %>"><%= genre.name %></a></li>
                <%})%>
            </ul>
        </div>
    </div>


    <div class="panel-items-container">
        <div class="panel-button">Edad</div>
        <div class="panel-content" style="display: none;">
            <ul>
                <li><a>6 años</a></li>
                <li><a>12 años</a></li>
                <li><a>16 años</a></li>
                <li><a>18 años</a></li>
                <li><a>21 años</a></li>
            </ul>
        </div>
    </div>


    <div class="panel-items-container">
        <div class="panel-button">Clasificacion</div>
        <div class="panel-content" style="display: none;">
            <ul>
                <% for(let i = 0; i < 5; i++){ %>
                    <div class="panel-items-clas">
                        <a href="#">
                            <% for(let j = i; j < 5; j++) { %>
                                <img src="media/icons/Recurso%201.png">
                            <% } %>
                        </a>
                    </div>
                <% } %>
            </ul>
        </div>
    </div>


    <div class="panel-items-container">
        <div class="panel-button">Año</div>
        <div class="panel-content" style="display: none;">
            <ul>
                <li><a>2010-Actualidad</a></li>
                <li><a>2000-2010</a></li>
                <li><a>1990-2000</a></li>
            </ul>
        </div>
    </div>
</div>


<script>
    var panels = document.getElementsByClassName("panel-button");

    for (var i = 0; i < panels.length; i++) {
        panels[i].addEventListener("click", function () {
            var content = this.nextElementSibling;
            if (content.style.display === "none") {
                content.style.display = "block";
            } else {
                content.style.display = "none";
            }
        });
    }
</script>
