<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/basic-style.css">
    <link rel="stylesheet" href="/css/login-style.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <title>Registrarse</title>
</head>

<body>
<header>
    <a href="index.html" class="header-logo"><img src="/media/icons/Recurso%204.png"></a>
    <div class="buttons-family">
        <a href="register.html" class="header-button">Registrarse</a>
    </div>
</header>
<div class="father-container">
    <div class="login-container">
        <div class="login-title-container">
            <div class="icon">
                <img width="100" src="/media/icons/baseline-account_circle-24px.svg">
            </div>
            <p class="login-title">¡Bienvenido!</p>
        </div>
        <form action="/auth/login" class="form" method="POST">
            <input type="username" name="username" placeholder="Username:">
            <input type="password" name="password" placeholder="Contraseña:">
            <input type="submit" class="submit-button" name="submit-newuser" value="Continuar">
        </form>
    </div>
</div>
</body></html>
