.movie-container {
    padding: 60px;
    padding-bottom: 0px;
    width: 100%;
    display: flex;
}

.movie-content,
.movie-picture {
    width: 50%;
    background: var(--color1);
		position: relative;
}

.movie-content{
    padding: 50px;
}

.movie-img {
    width: 100%;
    height: 100%;
    max-height: 1000px;
    padding-right: 100px;
}

.movie-title {
    font-size: 50px;
}

.movie-description {
    font-size: 20px;
    margin-bottom: 20px;
}
.button{
    width: 100%;
    background: #171717;
    padding: 10px;
}
.button-info {
    width: 100%;
    padding: 10px;
    overflow: hidden;
    display: none;
}
.box-button{
    width: 50%;
    height: auto;
    border: 1px solid;
    border-color: black;
}
.details-container{
    display: flex;
    flex-wrap: wrap;
}

.icon-time-movie{
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 30px;
}

.fas , .far{
	cursor: pointer;
}

.icon-fav-movie{
	position: absolute;
	top: 0px;
	right: 60px;
	padding: 30px;
}