::placeholder {
	color: white;
}

.flex {
	display: flex;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.half {
	width: 50%;
}

.complete {
	width: 100%;
}

.container-body {
	padding: 0px 100px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.user-image-name {
	justify-content: center;
}

.user-image {
	width: 200px;
	height: 200px;
	border-radius: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--color1);
}

.user-image img {
	width: 90%;
	height: 90%;
	border-radius: 100%;
	overflow: hidden;
	transition: 0.2s;
}

form {
	padding: 50px 20px;
	width: 800px;
}

.user-name {
	padding: 0px 30px;
	display: flex;
	justify-content: center;
}

.button-config {
	margin-left: 10px;
	display: flex;
	align-items: center;
}

.button-config img {
	width: 40px;
	cursor: pointer;
	background: var(--color1);
	border-radius: 100px;
	border: none;
	padding: 5px;
	box-shadow: 5px 2px 4px rgba(0, 0, 0, 0.5);
}

.button-config-image {
	position: absolute;
	display: flex;
	align-items: center;
	align-self: center;
	display: none;
	transition: 0.2s;
}

.button-config-image img {
	width: 40px;
}

.image-conatiner-config {
	display: flex;
	justify-content: center;
	align-items: center;
}

.image-conatiner-config:hover .user-image img{
	background: rgba(0, 0, 0, 0.8);
	display: none;
}
.image-conatiner-config:hover .button-config-image{
	display: block;
}
input[type="text"],
input[type="submit"],
p {
	font-size: 16px;
	background: var(--color1);
	padding: 10px;
	padding-left: 20px;
	border-radius: 100px;
	border: none;
	width: 400px;
	box-shadow: 5px 2px 4px rgba(0, 0, 0, 0.5);
}

.inputs-container {
	flex-wrap: wrap;
	padding: 0px 20px;
	justify-content: space-between;
}

.inputs-container>input[type="text"],
.inputs-container>input[type="submit"],
.inputs-container>p {
	margin-top: 20px;
	width: 45%;
}

.user-button {
	border-radius: 10px 10px 0px 0px;
	background: var(--color1);
	margin-top: 20px;
	padding: 10px;
	cursor: pointer;
	user-select: none;
}

.content-button {
	height: auto;
	flex-wrap: wrap;
}

.check-option {
	padding: 10px;
	align-items: center;
	background: var(--color1)
}

.check-option input {
	margin: 0px 10px;
}